<footer class="page-footer pt-5 pb-3 w-100 m-0" style="background-color:#545789">
    <div class="row w-100">
      <div class="col-md-12 d-flex justify-content-center">
        <a class="pl-3 pr-3" href="https://www.linkedin.com/in/brendo-cliber/" target="_blank"><img src="https://i.imgur.com/fuWIvZY.png" id="imgLinkedin" alt="logo linkedin" style="width: 40px"></a>
        <a class="pl-3 pr-3" href="https://github.com/brendobc" target="_blank"><img src="https://i.imgur.com/6pNv37e.png" id="imgGithub" alt="logo github" style="width: 40px"></a>
      </div>
    </div>
    <div class="row w-100 d-flex justify-content-center mt-3" style="color: white;">
      Direitos reservados
    </div>
  </footer>