<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 sticker">
            <div class="card mt-5 mb-5 pl-3 shadow">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 d-flex align-items-center">
                            <p style="font-size: 35px;">#{{cartorio.id}}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-12 d-flex align-items-center">
                                    <p class="mt-auto mb-auto mr-2"
                                        style="font-size: 28px; text-transform: capitalize; color: #542f61;">
                                        <b>{{cartorio.nome}}</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2 d-flex align-items-center">
                                <div class="col-md-12 d-flex align-items-center">
                                    <p class="mt-auto mb-auto" style="font-size: 20px; text-transform: capitalize;">
                                        <b>Endereço:
                                        </b>{{cartorio.endereco}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <button class="ml-2 mr-2 btn btnEditar" style="height: 40px; padding: 5px 40px !important;"
                                [routerLink]="['/editar-cartorio', idCartorio]">Editar
                            </button>
                            <button class="btn btnApagar ml-2" style="height: 40px; padding: 5px 40px !important;"
                                [routerLink]="['/apagar-cartorio', idCartorio]">Apagar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div *ngFor='let item of listaByCartorioCertidoes'>
                        <div class="card mt-5 mb-5 pl-3 shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row mb-3 d-flex align-items-center">
                                            <div class="col-md-12 d-flex align-items-center">
                                                <p class="mt-auto mb-auto mr-2"
                                                    style="font-size: 28px; text-transform: capitalize; color: #542f61;">
                                                    <b>{{item.nome}}</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row mb-2 d-flex align-items-center">
                                            <div class="col-md-12 d-flex align-items-center">
                                                <p class="mt-auto mb-auto"
                                                    style="font-size: 20px; text-transform: capitalize;"><b>Cartório
                                                        emissor:
                                                    </b>{{cartorioEmissor}}</p>
                                            </div>
                                        </div>
                                        <div class="row mb-2 d-flex align-items-center">
                                            <div class="col-md-12 d-flex align-items-center">
                                                <p class="mt-auto mb-auto"
                                                    style="font-size: 20px; text-transform: capitalize;"><b>Emitido por:
                                                    </b>{{item.usuario.nome}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end align-items-center">
                                        <button class="ml-2 mr-2 btn btnEditar" style="height: 40px;"
                                            [routerLink]="['/editar-certidao', item.id]">Editar
                                        </button>
                                        <button class="btn btnApagar ml-2" style="height: 40px;"
                                            [routerLink]="['/apagar-certidao', item.id]">Apagar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>